body {
  background-color: rgb(62, 62, 255); /*Pode escolher outra cor se quiser*/
}

h1 {
  color: rgb(255, 0, 0); /*Pode escolher outra cor se quiser*/
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}